{% extends "PizzeriaManager/_base.html" %}
{% load cart_tag %}

{% block title %}Contact{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:400px;}</style><a href="https://www.embedgooglemap.net">google maps embedded api</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:400px;}</style></div></div>
    <div class="p-5 d-flex flex-column align-self-center ">
        <div class="d-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
        <div class="d-inline-block">Ut enim ad minim veniam, quis nostrud</div>
        <div class="d-inline-block">Lorem Ipsum</div>
        <div class="d-inline-block">xx-xxx</div>
    </div>
    </div>
{% endblock %}