{% extends "PizzeriaManager/_base.html" %}
{% load cart_tag %}

{% block title %}List of all orders{% endblock %}


{% block content %}

    <h2 class="text-center">Manage Orders</h2>

    <table class="table">
    <tr>
    <th>Order #</th>
    <th>When</th>
    <th>Ordered by</th>
    <th>Ordered items</th>
    <th>Total</th>
    <th>Delivery address</th>
    <th>Paid by</th>
    <th>Order complete</th>
    <th>Delete order</th>
    </tr>

{% for order in orders %}
    <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.timestamp }}</td>
    <td>{{ order.customer.first_name}} {{ order.customer.last_name }}</td>
     <td>   {% for item in order.items.all %}
        {{ item.pizza_name }} x {{ item.quantity }}
            {% endfor %}</td>
    <td>{{ order.total }}</td>
    <td>{{ order.address }}</td>
    <td>{{ order.payment_method }}</td>
    <td><a href="{% url 'update_orders_manager' order.id %}">{{ order.completed }}</a></td>
    <td><a href="{% url 'delete_orders_manager' order.id %}">Cancel order</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}