
{% extends 'PizzeriaManager/_base.html' %}
{% load static %}
{% block title %}Menu{% endblock %}

{% block content %}

    <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for pizza in pizzas %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{% static 'images/Pizzas/' %}{{ pizza.img }}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-left mx-auto" style="padding-left: 27%">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ pizza.name }}</h5>
                                    <!-- Product reviews-->
                                    <div class="text-left">{% for item in pizza.ingredients.all %}

                                        <div class="bi-star-fill"> {{ item.name }}</div>

                                        {% endfor %}
                                    </div>
                                    <!-- Product price-->
                                    <div style="position: absolute; bottom:0" class="col-md-10 mx-auto">
                                    <b>Price: {{pizza.price}}</b>
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'cart_add' pizza.id %}">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}





