{% extends "PizzeriaManager/_base.html" %}
{% load cart_tag %}

{% block title %}Request leave{% endblock %}

{% block content %}

    <div class="text-center">Request leave for {{ user.first_name }} {{ user.last_name }}</div>
<div style="color: white">a</div>
<form style="width: 15%; margin: auto" action="{% url 'confirm_leave' %}" method="post">
<div class="form-group">
    Start date:
    <input class="form-control" type="date" id="start" name="start">
</div>
    <div class="form-group">
    End date:
    <input class="form-control" type="date" id="end" name="end">
    </div>
    <div class="form-group">
    Reason
    <select class="form-control" name="reason" id="reason">
    <option value="Paid time Off">Paid time Off</option>
    <option value="Unpaid leave">Unpaid leave</option>
    <option value="On demand">On demand</option>
    <option value="Bereavement">Bereavement</option>
    </select>
        <div style="color: white">a</div>
    </div>
    {% csrf_token %}
    <button class="btn btn-dark text-center" style="margin:0 80px" type="submit">Request leave</button>
    </form>
<div style="color: white">a</div>
{% endblock %}